<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fiee.fieeblog.mapper.FriendLinkMapper">
    <select id="getFriendLink" resultType="com.fiee.fieeblog.entity.FriendLink">
        select * from tb_friend_link
        <where>
            <if test="vo.keywords != '' ">
                link_name like concat("%",#{vo.keywords},"%")
            </if>
        </where>
        limit #{current},#{size}
    </select>
</mapper>