<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fiee.fieeblog.mapper.MessageMapper">
    <select id="getBackMessage" resultType="com.fiee.fieeblog.entity.Message">
        select * from tb_message
        <where>
            <if test=" vo.keywords != '' ">
                and nickname like concat("%", #{vo.keywords},"%")
            </if>
            <if test=" vo.isReview != '' and vo.isReview != null or vo.isReview==0" >
                and is_review=#{vo.isReview}
            </if>
        </where>
        limit #{current},#{size}
    </select>
</mapper>