<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fiee.fieeblog.mapper.OperationLogMapper">
    <select id="getOperations" resultType="com.fiee.fieeblog.entity.OperationLog">
        select * from tb_operation_log
        <where>
            <if test="vo.keywords != null">
                and opt_module like concat('%',#{vo.keywords},'%')
                or opt_desc like concat('%',#{vo.keywords},'%')
            </if>
        </where>
        ORDER BY create_time desc
        LIMIT #{current},#{size}
</select>
</mapper>